MONGO_URL='sua url de conexão do mongodb',
POKEAPI_URL= "https://pokeapi.co/api/v2/pokemon/"
SEGUREDO_JWT= 'qualquer-segredo'
SESSION_SECRET= 'qualquer-segredo'
GOOGLE_OAUTH_CLIENT_ID= 'sua client id'
GOOGLE_OAUTH_CLIENT_SECRET= 'sua client secret'
GOOGLE_OAUTH_REDIRECT_URL= 'sua url de redirect'
GITHUB_OAUTH_CLIENT_ID= 'sua client id'
GITHUB_OAUTH_CLIENT_SECRET= 'sua client secret'
GITHUB_OAUTH_REDIRECT_URL= 'sua url de redirect'